
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>float layout</title>
    <link rel="stylesheet" href="monStyle.css"

</head>
<body>
    <header>
    <h2>les grand captiales</h2>
    </header>
        <section>
            <nav>
                <ul>
                    <li> <a href="Londre.html">Londre</a>
                    </li>
                    <li> <a href="Paris.htm">Paris</a>
                    </li>
                    <li>Abidjan</li>
                    <li>Teheran</li>
                    <li>Rabat</li>
                </ul>
            </nav>
            <article>
            <h1>Londres</h1>

            <p>
                Non tellus orci ac auctor augue mauris. Feugiat nibh sed pulvinar proin gravida hendrerit lectus. N
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus assumenda atque commodi deserunt,
                enim, error ex excepturi expedita incidunt ipsum labore, natus nihil nobis obcaecati repudiandae sequi
                sit ullam vitae.</p>
            <p>Accusamus aperiam at consequuntur cumque debitis doloribus, ea, eius enim eum ex explicabo facilis fugit
                id ipsam numquam officiis pariatur placeat porro praesentium quas quia quo reprehenderit, ut veritatis
                voluptas!</p>
            </article>
         </section>
<footer> <p> copyright &copy;</p></footer>
</body>
</html>